<%- include ("layout") %>
<body>
    <%- include ("navigation") %>
    <h1>Welcome to the Blog</h1>
    <% posts.forEach(post => { %>
        <h2>
            <a href="/posts/<%= post._id %>"><%= post.title %></a>
        </h2>
        <p><%= post.content.substring(0, 100) %>...</p>
        <a href="/posts/<%= post._id %>">Read more</a>
        <hr />
      <% }) %>
</body>
</html>